[submodule "breast"]
	path = breast
	url = https://github.com/pathologyatlas/breast
[submodule "GIS"]
	path = GIS
	url = https://github.com/pathologyatlas/GIS
[submodule "GYN"]
	path = GYN
	url = https://github.com/pathologyatlas/GYN
