[submodule "pancreaticadenocarcinoma"]
	path = pancreaticadenocarcinoma
	url = https://github.com/pathologyatlas/pancreaticadenocarcinoma
[submodule "tubularadenoma"]
	path = tubularadenoma
	url = https://github.com/pathologyatlas/tubularadenoma
[submodule "hepatocellularcarcinoma"]
	path = hepatocellularcarcinoma
	url = https://github.com/pathologyatlas/hepatocellularcarcinoma
[submodule "candidaalbicans"]
	path = candidaalbicans
	url = https://github.com/pathologyatlas/candidaalbicans
[submodule "LAMN"]
	path = LAMN
	url = https://github.com/pathologyatlas/LAMN
[submodule "HSV"]
	path = HSV
	url = https://github.com/pathologyatlas/HSV
